In [ ]:
## Lead Score - Case Study

In [ ]:
##Problem Statement
#An X Education need help to select the most promising leads, i.e. the leads that are most likely to convert into paying customers. The company requires us to build a model wherein you need to assign a lead score to each of the leads such that the customers with higher lead score have a higher conversion chance and the customers with lower lead score have a lower conversion chance. The CEO, in particular, has given a ballpark of the target lead conversion rate to be around 80%.

In [2]:
#importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import StandardScaler

In [ ]:
## Loading and Cleaning Data

In [4]:
lead_df=pd.read_csv("C:\\Users\Pompy\\OneDrive\\Desktop\\lead scoring assignment\\leads.csv")
lead_df.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,...,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,...,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [5]:
lead_df.shape

(9240, 37)

In [6]:
lead_df.info

<bound method DataFrame.info of                                Prospect ID  Lead Number  \
0     7927b2df-8bba-4d29-b9a2-b6e0beafe620       660737
1     2a272436-5132-4136-86fa-dcc88c88f482       660728
2     8cc8c611-a219-4f35-ad23-fdfd2656bd8a       660727
3     0cc2df48-7cf4-4e39-9de9-19797f9b38cc       660719
4     3256f628-e534-4826-9d63-4a8b88782852       660681
...                                    ...          ...
9235  19d6451e-fcd6-407c-b83b-48e1af805ea9       579564
9236  82a7005b-7196-4d56-95ce-a79f937a158d       579546
9237  aac550fe-a586-452d-8d3c-f1b62c94e02c       579545
9238  5330a7d1-2f2b-4df4-85d6-64ca2f6b95b9       579538
9239  571b5c8e-a5b2-4d57-8574-f2ffb06fdeff       579533

                  Lead Origin     Lead Source Do Not Email Do Not Call  \
0                         API      Olark Chat           No          No
1                         API  Organic Search           No          No
2     Landing Page Submission  Direct Traffic           No          No
3     Landing Page Submission  Direct Traffic           No          No
4     Landing Page Submission          Google           No          No
...                       ...             ...          ...         ...
9235  Landing Page Submission  Direct Traffic          Yes          No
9236  Landing Page Submission  Direct Traffic           No          No
9237  Landing Page Submission  Direct Traffic          Yes          No
9238  Landing Page Submission          Google           No          No
9239  Landing Page Submission  Direct Traffic           No          No

      Converted  TotalVisits  Total Time Spent on Website  \
0             0          0.0                            0
1             0          5.0                          674
2             1          2.0                         1532
3             0          1.0                          305
4             1          2.0                         1428
...         ...          ...                          ...
9235          1          8.0                         1845
9236          0          2.0                          238
9237          0          2.0                          199
9238          1          3.0                          499
9239          1          6.0                         1279

      Page Views Per Visit  ... Get updates on DM Content    Lead Profile  \
0                     0.00  ...                        No          Select
1                     2.50  ...                        No          Select
2                     2.00  ...                        No  Potential Lead
3                     1.00  ...                        No          Select
4                     1.00  ...                        No          Select
...                    ...  ...                       ...             ...
9235                  2.67  ...                        No  Potential Lead
9236                  2.00  ...                        No  Potential Lead
9237                  2.00  ...                        No  Potential Lead
9238                  3.00  ...                        No             NaN
9239                  3.00  ...                        No  Potential Lead

                    City Asymmetrique Activity Index  \
0                 Select                   02.Medium
1                 Select                   02.Medium
2                 Mumbai                   02.Medium
3                 Mumbai                   02.Medium
4                 Mumbai                   02.Medium
...                  ...                         ...
9235              Mumbai                   02.Medium
9236              Mumbai                   02.Medium
9237              Mumbai                   02.Medium
9238  Other Metro Cities                   02.Medium
9239        Other Cities                   02.Medium

     Asymmetrique Profile Index Asymmetrique Activity Score  \
0                     02.Medium                        15.0
1                     02.Medium                        15.0
2                       01.High                        14.0
3                       01.High                        13.0
4                       01.High                        15.0
...                         ...                         ...
9235                    01.High                        15.0
9236                    01.High                        14.0
9237                    01.High                        13.0
9238                  02.Medium                        15.0
9239                    01.High                        15.0

     Asymmetrique Profile Score I agree to pay the amount through cheque  \
0                          15.0                                       No
1                          15.0                                       No
2                          20.0                                       No
3                          17.0                                       No
4                          18.0                                       No
...                         ...                                      ...
9235                       17.0                                       No
9236                       19.0                                       No
9237                       20.0                                       No
9238                       16.0                                       No
9239                       18.0                                       No

     A free copy of Mastering The Interview Last Notable Activity
0                                        No              Modified
1                                        No          Email Opened
2                                       Yes          Email Opened
3                                        No              Modified
4                                        No              Modified
...                                     ...                   ...
9235                                     No     Email Marked Spam
9236                                    Yes              SMS Sent
9237                                    Yes              SMS Sent
9238                                     No              SMS Sent
9239                                    Yes              Modified

[9240 rows x 37 columns]>

In [7]:
lead_df.describe()

,Lead Number,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Asymmetrique Activity Score,Asymmetrique Profile Score
count,9240.000000,9240.000000,9103.000000,9240.000000,9103.000000,5022.000000,5022.000000
mean,617188.435606,0.385390,3.445238,487.698268,2.362820,14.306252,16.344883
std,23405.995698,0.486714,4.854853,548.021466,2.161418,1.386694,1.811395
min,579533.000000,0.000000,0.000000,0.000000,0.000000,7.000000,11.000000
25%,596484.500000,0.000000,1.000000,12.000000,1.000000,14.000000,15.000000
50%,615479.000000,0.000000,3.000000,248.000000,2.000000,14.000000,16.000000
75%,637387.250000,1.000000,5.000000,936.000000,3.000000,15.000000,18.000000
max,660737.000000,1.000000,251.000000,2272.000000,55.000000,18.000000,20.000000

In [ ]:
#checking for duplicates

In [8]:

sum(lead_df.duplicated(subset = 'Prospect ID')) == 0

True

In [9]:
sum(lead_df.duplicated(subset = 'Lead Number')) == 0

True

In [ ]:
## Cleaning the Data frame

In [11]:
# Converting all the values to lower case
lead_df = lead_df.applymap(lambda s:s.lower() if type(s) == str else s)

In [12]:
lead_df.drop(['Prospect ID', 'Lead Number'], 1, inplace = True)

In [13]:
lead_df = lead_df.replace('select',np.nan)

In [14]:
lead_df.nunique()

Lead Origin                                         5
Lead Source                                        20
Do Not Email                                        2
Do Not Call                                         2
Converted                                           2
TotalVisits                                        41
Total Time Spent on Website                      1731
Page Views Per Visit                              114
Last Activity                                      17
Country                                            38
Specialization                                     18
How did you hear about X Education                  9
What is your current occupation                     6
What matters most to you in choosing a course       3
Search                                              2
Magazine                                            1
Newspaper Article                                   2
X Education Forums                                  2
Newspaper                                           2
Digital Advertisement                               2
Through Recommendations                             2
Receive More Updates About Our Courses              1
Tags                                               26
Lead Quality                                        5
Update me on Supply Chain Content                   1
Get updates on DM Content                           1
Lead Profile                                        5
City                                                6
Asymmetrique Activity Index                         3
Asymmetrique Profile Index                          3
Asymmetrique Activity Score                        12
Asymmetrique Profile Score                         10
I agree to pay the amount through cheque            1
A free copy of Mastering The Interview              2
Last Notable Activity                              16
dtype: int64